{% extends "SIBUDO_app/base.html" %}

{% load static %}

{% block title %} <title> Recursos </title> {% endblock %}

{% block content %}
    
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Buscar trabajos de grado</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Recursos</li>
            <li class="breadcrumb-item">Trabajos de grado</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Trabajos de grado</h5>

            <p> Buscar trabajos de grado </p>
            
            <form class="row g-3" method="POST" action="">
              
              {% csrf_token %}

              <hr>

              <div class="col-sm-2">
                <select class="form-select" aria-label="Default select example" name="row">
                  <option selected disabled>Seleccione</option>
                  <option value="1">ID</option>
                  <option value="2">Título</option>
                  <option value="3">Autor</option>
                  <option value="4">Palabras</option>
                  <option value="5">Fecha</option>
                  </select>
              </div>

              <div class="col-md-6">

                <input type="text" class="form-control" name="search">
                  
              </div>

              <div class="col-md-1">

                <button type="submit" class="btn btn-primary">Buscar</button>

              </div>

              <hr>

            </form>

            <!-- si hay libros -->
            {% if trabajos %}

              <!-- Table with stripped rows -->
              <table class="table datatable">

                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Autor(es)</th>
                    <th scope="col">Palabras</th>
                    <th scope="col">Fecha</th>
                  </tr>
                </thead>

                <tbody>

                <!-- recorre todos los libros -->
                {% for trabajo in trabajos %}

                <tr>

                  <th scope="row">{{ trabajo.id }}</th>
                  <td>{{ trabajo.titulo }}</td>
                  <td>{{ trabajo.autor }}</td>
                  <td>{{ trabajo.palabras_clave }}</td>
                  <td>{{ trabajo.fecha }}</td>
                  
                </tr>

              {% endfor %}

              </tbody>
              
            </table>
            <!-- End Table with stripped rows -->

            {% endif %}

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

{% endblock %}