{% extends "SIBUDO_app/base.html" %}

{% load static %}

{% block title %} <title> Home </title> {% endblock %}

{% block content %}
<main id="main" class="main">
    
  <section class="section">
    <div class="row">
      <div class="col-6 offset-3">

        <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">Resgistrar Usuario</h5>
              <p style="text-align: center;">Favor de ingresar los datos</p>
              <br>
          <form method="post">
            {% csrf_token %}
    
            {% for field in form.visible_fields %}
              <div class="form-group">
                <div class="row justify-content-center align-items-center">
                  <div class="col-12 text-center">
                    <label class="form-label" style="width: 150px; margin-bottom: 10px;">
                      {{ field.label }}
                    </label>
                    {{ field }}
                  </div>
                </div>
    
                {% if field.errors %}
                  <div class="row justify-content-center align-items-center">
                    <div class="text-danger text-center"> <!-- Agregamos la clase "text-center" -->
                      {% for error in field.errors %}
                        <span>{{ error }}<br></span>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
                {% comment %} vacia el buffer de mensajes que no son necesarios mostrar,
                para que no se muestrenluego en login{% endcomment %}
                {% for message in messages %}
                {% endfor %}

              </div>
            {% endfor %}
            
            <div style="text-align: center;">
              <button type="submit" class="btn btn-primary" >Registrarse</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

</main>

{% endblock %}


