
  <div class="tab-pane profile-edit pt-3">
      <!-- Profile Edit Form -->
      <form method="POST" action="{% url 'update_user' user_id=request.user.id %}">
          {% csrf_token %}
          
          <div class="row mb-3">
              <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nombre</label>
              <div class="col-md-8 col-lg-9">
                  <input name="username" type="text" class="form-control" id="username" value="{{ user.username }}">
              </div>
          </div>

          <div class="text-center">
              <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </div>
      </form><!-- End Profile Edit Form -->
  </div>
