{% extends "SIBUDO_app/base.html" %}

{% load static %}

{% block title %} <title> Home </title> {% endblock %}

{% block content %}
<main id="main" class="main">
    <section class="section">
        <div class="row">
          <div class="col-6 offset-3">
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Resgistrar Usuario</h5>
                <p>Bienvenido al sisteme SIBUDO te invitamos a registracte para poder acceder a sus distintas funcionalidades</p>
                <br>
                {% if form.errors %}
                  <p>Por favor revisa este campo</p>
                {% endif %}
                <form method="POST">
                  {% csrf_token %}
                  {% for field in form %}

                    <div class="form-group">
                      <div class="row justify-content-center align-items-center">
                        <div class="col-12 text-center">
                          <label class="form-label" style="width: 150px; margin-button: 10px;">
                            {{ field.label }}
                          </label>
                            {{ field }}
                        </div>
                    </div>
                  {% endfor %}
                  <button type="submit" class="form-control">Enviar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

</main>

{% endblock %}


