{% load custom_tags %}

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      
      {% if request.user|user_belongs_to_group:'Director' %}
      {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'register_user' %}">
            <i class="bi bi-person"></i>
            <span>Registrar usuario</span>
          </a>
        </li><!-- End Profile Page Nav -->
      {% comment %} {% endif %} {% endcomment %}
      {% endif %}
    </aside><!-- End Sidebar-->

