{% extends "SIBUDO_app/base.html" %}

{% load static %}

{% block title %} <title> Gestionar tesis </title> {% endblock %}

{% block content %}
    
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Gestionar tesis</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Gestion recursos</li>
            <li class="breadcrumb-item">Tesis</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tesis</h5>

            <!-- Table with stripped rows -->
            <table class="table datatable">

              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Autor</th>
                  <th scope="col">Año</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>

              <tbody>

                <tr>
                  <th scope="row">1</th>
                  <td>Tesis de Inteligencia artificial</td>
                  <td>Yeison Rojas</td>
                  <td>2023</td>
                  <td>
                    <a href="#" class="btn btn-primary">Editar</a>
                    <a href="#" class="btn btn-secondary">Borrar</a>
                  </td>
                </tr>

                <tr>
                  <th scope="row">2</th>
                  <td>Tesis de Cloud Computing</td>
                  <td>
                    Eulises Brazon,
                    Luis Marquez
                  </td>
                  <td>2022</td>
                  <td>
                    <a href="#" class="btn btn-primary">Editar</a>
                    <a href="#" class="btn btn-secondary">Borrar</a>
                  </td>
                </tr>

              </tbody>
              
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

{% endblock %}