{% extends "SIBUDO_app/base.html" %}

{% load static %}

{% block title %} <title> Editar usuarios </title> {% endblock %}

{% block content %}

<main id="main" class="main">

  <div class="pagetitle">
      <h1>Gestionar usuarios</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Gestion usuarios</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Editar</h5>

          <div class="contenedorFormulario">

        <!--si se recibe la palabra 'valido' por la url-->
        {% if "valido" in request.GET %}

            <p style="color: white;">Informacion enviada correctamente, gracias</p>

        {% endif %}

        <form action="" method="post" style="text-align: center;">

            {% csrf_token %}
        
            <table style="color: white; margin: 20px auto;">{{ miFormulario.as_table }}</table>
            <input type="submit" value="Enviar" style="width: 150px;">

        </form>
        </div>
      </div>
    
    </div>

    </div>
  </div>
</section>

{% endblock %}