{% extends "SIBUDO_app/base.html" %}

{% load static %}
{% load my_tags %}

{% block title %}
    <title>Buscar Prestamo</title>
{% endblock %}

{% block content %}
    <!-- TEMPLATE HERE -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Buscar Prestamo</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'Prestamos' %}">Prestamos</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'Gestion_Prestamos' %}">Gestionar Prestamos</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'Gestion_Sanciones' %}">Gestionar Sanciones</a></li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Prestamos</h5>
                            <p>Acá encontrarás todos los préstamos activos y no devueltos a tiempo, pudiendo aplicar directamente sanciones</p>
                            
                            <!-- Table with stripped rows -->
                            <table class="table datatable table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Estudiante</th>
                                        <th scope="col">Prestamo</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Fecha de inicio</th>
                                        <th scope="col">Fecha de entrega</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for prestamo in prestamos_a_nd %}
                                        <tr>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <td>{{list_estud|get:forloop.counter}}</td>
                                            <td>{{prestamo.id}}</td>
                                            <td>{{list_tipo_p|get:forloop.counter}}</td>
                                                {% if prestamo.estado_prestamo == 1 %}
                                                    <td>
                                                        <div class="badge bg-success">Activo</div>
                                                    </td>
                                                {% elif prestamo.estado_prestamo == 2 %}
                                                    <td>
                                                        <div class="badge bg-warning">Inactivo</div>
                                                    </td>
                                                {% elif prestamo.estado_prestamo == 3 %}
                                                    <td>
                                                        <div class="badge bg-danger">Retrasado</div>
                                                    </td>
                                                {% endif %}
                                            <td>{{prestamo.fecha_prestamo}}</td>
                                            <td>{{prestamo.fecha_devolucion}}</td>
                                            <td>
                                                {% if prestamo.estado_prestamo == 3 %}
                                                    <button type="button" class="btn btn-secondary ri-file-download-line" disabled></button>
                                                    <a href="{% url 'Recibir_Prestamo' prestamo.id %}">
                                                        <button type="button" class="btn btn-primary ri-pencil-line"></button>
                                                    </a>
                                                    <a href="{% url 'Sancionar' prestamo.id %}">
                                                        <button type="button" class="btn btn-danger ri-police-car-line"></button>
                                                    </a>
                                                {% elif prestamo.estado_prestamo == 2 %}
                                                    <button type="button" class="btn btn-secondary ri-file-download-line" disabled></button>
                                                    <button type="button" class="btn btn-secondary ri-pencil-line" disabled></button>
                                                    <button type="button" class="btn btn-secondary ri-police-car-line" disabled></button>

                                                {% else %}
                                                    <a href="{% url 'Recibir_Prestamo' prestamo.id %}">
                                                        <button type="button" class="btn btn-success ri-file-download-line"></button>
                                                    </a>
                                                    <a href="{% url 'Editar_Prestamo' prestamo.id %}">
                                                        <button type="button" class="btn btn-primary ri-pencil-line"></button>
                                                    </a>
                                                    <button type="button" class="btn btn-secondary ri-police-car-line" disabled></button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        <!-- End Table with stripped rows -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}