{% extends "SIBUDO_app/base.html" %}

{% load static %}
{% load my_tags %}

{% block title %}
    <title>Generar Sancion</title>
{% endblock %}

{% block content %}
    <!-- TEMPLATE HERE -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Generar Sancion</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'Prestamos' %}">Prestamos</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'Gestion_Prestamos' %}">Gestionar Prestamos</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'Gestion_Sanciones' %}">Gestionar Sanciones</a></li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Elegibles a sanciones</h5>
                            <p>Acá encontrarás los prestamos que son elegibles para la aplicacion de sanciones</p>
                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Estudiante</th>
                                        <th scope="col">Prestamo</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Fecha de inicio</th>
                                        <th scope="col">Fecha de entrega</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for prestamo in elegibles_a_sancion %}
                                        <tr>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <td>{{list_estud|get:forloop.counter}}</td>
                                            <td>{{prestamo.id}}</td>
                                            <td>{{list_tipo_p|get:forloop.counter}}</td>
                                            <td>
                                                <div class="badge bg-danger">Retrasado</div>
                                            </td>
                                            <td>{{prestamo.fecha_prestamo}}</td>
                                            <td>{{prestamo.fecha_devolucion}}</td>
                                            <td>
                                                <a href="{% url 'Sancionar' prestamo.id %}">
                                                    <button type="button" class="btn btn-danger ri-police-car-line"></button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table> <!-- End Table with stripped rows -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}