{% extends "SIBUDO_app/base.html" %}

{% load static %}
{% load bootstrap %}
{% load my_tags %}

{% block title %}
    <title>Generar Prestamo</title>
{% endblock %}

{% block content %}
    <!-- TEMPLATE HERE -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Generar Prestamo</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'Prestamos' %}">Prestamos</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'Gestion_Prestamos' %}">Gestionar Prestamos</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'Gestion_Sanciones' %}">Gestionar Sanciones</a></li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div class="container">
            <div class="row" style="justify-content: space-between;">
                <div class="card col-md-4">
                    <div class="card-body">
                        <h5 class="card-title">Verificar Estudiante</h5>
        
                        <!-- Vertical Form -->
                        <form class="row g-3" method="post">
                            {% csrf_token %}
                            <div class="col-12">
                                <!-- <label for="cedula" class="form-label">Cédula de Identidad</label>
                                <input type="text" class="form-control" id="cedula"> -->
                                {{ ci_form|bootstrap }}
                            </div>
        
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" name="verificar">Verificar</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </form><!-- Vertical Form -->
                    </div>
                </div>

                <div class="card col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">Datos Estudiante</h5>
                        <!-- Table with hoverable rows -->
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Cedula</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Estado</th>
                                </tr>
                            </thead>
        
                            <tbody>
                                {% if hay_estudiante == 1 %}
                                    {% if request.session.estudiante %}
                                        <tr>
                                            <th>{{request.session.estudiante.cedula}}</th>
                                            <td>{{request.session.estudiante.nombre}}</td>
                                            <td>{{request.session.estudiante.apellido}}</td>
                                            {% if request.session.estudiante.estado == 1 %}
                                                <td><div class="badge bg-success">Activo</div></td>
                                            {% else %}
                                                <td><div class="badge bg-danger">Inactivo</div></td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->
                    </div>
                </div>
            </div>
        </div>

        {% if hay_estudiante == 1 and request.session.estudiante.estado == 1 %}
            <hr>
            <br>
            <section class="section">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Recursos Disponibles</h5>
                                <p>Acá encontrarás todos los recursos disponibles de acuerdo a la categoría seleccionada.</p>

                                <hr>

                                    <div class="row mb-3">
                                        <form action="" method="POST" style="display: flex; flex-direction: row; align-items: center;">
                                            {% csrf_token %}
                                            <div class="col-sm-4" style="margin-bottom: 1.55rem;">
                                                {{ selector_form|bootstrap }}
                                            </div>
                                            
                                            <div class="col-sm-2" style="margin-left: 2.5rem;">
                                                <button type="submit" class="btn btn-primary" name="select-recurso">Consultar&nbsp;<i class="ri-arrow-right-line"></i></button>
                                            </div>
                                        </form>
                                    </div>

                                <hr>

                                {% if tipo_recurso == 1 %}
                                    <!-- Table with stripped rows -->
                                    <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Autor/es</th>
                                                <th scope="col">Ed</th>
                                                <th scope="col">Uso</th>
                                                <th scope="col">Año</th>
                                                <th scope="col">ISBN</th>
                                                <th scope="col">Estado</th>
                                                <th scope="col">Agregar</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for n in list_estado %}
                                                {% if forloop.counter0 != 0 %}
                                                    <tr>
                                                        <th scope="row">{{forloop.counter0}}</th>
                                                        <td>{{list_nombre|get:forloop.counter0}}</td>
                                                        <td>{{list_autor|get:forloop.counter0}}</td>
                                                        <td>{{list_edicion|get:forloop.counter0}}</td>
                                                        {% if list_uso|get:forloop.counter0 == True %}
                                                            <td>Externo</td>
                                                        {% else %}
                                                            <td>Interno</td>
                                                        {% endif %}
                                                        <td>{{list_anio|get:forloop.counter0}}</td>
                                                        <td>{{list_ISBN|get:forloop.counter0}}</td>
                                                        <td>
                                                            <div class="badge bg-success">Disponible</div>
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'Guardar_Prestamo' request.session.estudiante.id 1 list_id|get:forloop.counter0 %}">
                                                                <button type="button" class="btn btn-primary">Agregar</button>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table><!-- End Table with stripped rows -->
                                {% elif tipo_recurso == 2 %}
                                    <!-- Table with stripped rows -->
                                    <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Titulo</th>
                                                <th scope="col">Autor/es</th>
                                                <th scope="col">Keywords</th>
                                                <th scope="col">Uso</th>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">Estado</th>
                                                <th scope="col">Agregar</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for n in list_estado %}
                                                {% if forloop.counter0 != 0 %}
                                                    <tr>
                                                        <th scope="row">{{forloop.counter0}}</th>
                                                        <td>{{list_titulo|get:forloop.counter0}}</td>
                                                        <td>{{list_autor|get:forloop.counter0}}</td>
                                                        <td>{{list_p_clave|get:forloop.counter0}}</td>
                                                        {% if list_uso|get:forloop.counter0 == True %}
                                                            <td>Externo</td>
                                                        {% else %}
                                                            <td>Interno</td>
                                                        {% endif %}
                                                        <td>{{list_fecha|get:forloop.counter0}}</td>
                                                        <td>
                                                            <div class="badge bg-success">Disponible</div>
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'Guardar_Prestamo' request.session.estudiante.id 2 list_id|get:forloop.counter0 %}">
                                                                <button type="button" class="btn btn-primary">Agregar</button>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table><!-- End Table with stripped rows -->
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% elif hay_estudiante == 1 and request.session.estudiante.estado == 0 %}
            <hr>
            <br>
            <h1>El estudiante no está activo</h1>
        {% endif %}
    </main>
{% endblock %}