{% extends "SIBUDO_app/base.html" %}

{% load static %}

{% block title %}
    <title>Gestion de Sanciones</title>
{% endblock %}

{% block content %}
    <!-- TEMPLATE HERE -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Gestion Sanciones</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'Prestamos' %}">Prestamos</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'Gestion_Prestamos' %}">Gestionar Prestamos</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'Gestion_Sanciones' %}">Gestionar Sanciones</a></li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section contact">
            <br><br>
            <div class="row gy-4">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="{% url 'Generar_Sancion' %}">
                                <div class="info-box card text-center">
                                    <i class="ri-alert-line"></i>
                                    <h3>Generar Sancion</h3>
                                    <p>Podras generar sanciones.</p>
                                </div>
                            </a>
                        </div>
    
                        <div class="col-lg-6">
                            <a href="{% url 'Visualizar_Sanciones' %}">
                                <div class="info-box card text-center">
                                    <i class="ri-eye-line"></i>
                                    <h3>Visualizar Sanciones</h3>
                                    <p>Podrás Visualizar sanciones.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </section>
    </main>
{% endblock %}