{% extends "SIBUDO_app/base.html" %}

{% load static %}
{% load bootstrap %}

{% block title %}
    <title>Guardar Prestamo</title>
{% endblock %}

{% block content %}
    <!-- TEMPLATE HERE -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Guardar Prestamo</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'Prestamos' %}">Prestamos</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'Gestion_Prestamos' %}">Gestionar Prestamos</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'Gestion_Sanciones' %}">Gestionar Sanciones</a></li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section">
            <div class="row" style="justify-content: center;">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Detalles del prestamo a solicitar</h5>

                            <!-- General Form Elements -->
                            <form method="POST">
                                {% csrf_token %}
                                <div class="row mb-3">
                                    <label for="inputText" class="form-label">C.I</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" value="{{estudiante.cedula}}" disabled>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="inputText" class="form-label">Nombre Estudiante</label>                        
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" value="{{estudiante.nombre}} {{estudiante.apellido}}" disabled>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="inputText" class="form-label">Tipo de recurso</label>                        
                                    <div class="col-sm-12">
                                        {% if tipo_rec == 1 %}
                                            <input type="text" class="form-control" value="Libro" disabled>
                                        {% else %}
                                            <input type="text" class="form-control" value="Trabajo de grado" disabled>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="inputText" class="form-label">Tipo de prestamo</label>                        
                                    <div class="col-sm-12">
                                        {% if disponibilidad.tipo_prestamo == 1 %}
                                            <input type="text" class="form-control" value="Externo" disabled>
                                        {% else %}
                                            <input type="text" class="form-control" value="Interno" disabled>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    {% if disponibilidad.tipo_prestamo == 1 %}
                                        <label for="inputText" class="form-label">Nombre del libro</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" value="{{recurso.nombre}}" disabled>
                                        </div>
                                    {% else %}
                                        <label for="inputText" class="form-label">Título del trabajo</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" value="{{recurso.titulo}}" disabled>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="row mb-3">
                                    <label for="inputDate" class="form-label">Fecha de solicitud</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" disabled value="{{today}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="inputDate" class="form-label">Fecha de devolucion</label>
                                    <div class="col-sm-12">
                                        {{ datePicker_form|bootstrap }}
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-12" style="display: flex; flex-direction: row; justify-content: space-evenly;">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                        <button type="reset" class="btn btn-secondary">Reset</button>
                                    </div>
                                </div>
                        </form><!-- End General Form Elements -->
                </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}