{% extends "SIBUDO_app/base.html" %}

{% load static %}

{% block title %}
    <title>Visualizar Sanciones</title>
{% endblock %}

{% block content %}
    <!-- TEMPLATE HERE -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Visualizar Sanciones</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'Prestamos' %}">Prestamos</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'Gestion_Prestamos' %}">Gestionar Prestamos</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'Gestion_Sanciones' %}">Gestionar Sanciones</a></li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Sanciones</h5>
                            <p>Acá encontrarás todas las sanciones activas.</p>
                            
                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Estudiante</th>
                                        <th scope="col">Prestamo</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Fecha de inicio</th>
                                        <th scope="col">Fecha de finalización</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Brandon Jacob</td>
                                        <td>P: 0134</td>
                                        <td>Interno</td>
                                        <td>Activa</td>
                                        <td>2016-05-25</td>
                                        <td>2016-05-25</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Bridie Kessler</td>
                                        <td>P: 0102</td>
                                        <td>Externo</td>
                                        <td>Activa</td>
                                        <td>2014-12-05</td>
                                        <td>2014-12-05</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Ashleigh Langosh</td>
                                        <td>P: 0305</td>
                                        <td>Interno</td>
                                        <td>Activa</td>
                                        <td>2011-08-12</td>
                                        <td>2011-08-12</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Angus Grady</td>
                                        <td>P: 0502</td>
                                        <td>Externo</td>
                                        <td>Activa</td>
                                        <td>2012-06-11</td>
                                        <td>2012-06-11</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">5</th>
                                        <td>Raheem Lehner</td>
                                        <td>P: 0114</td>
                                        <td>Externo</td>
                                        <td>Activa</td>
                                        <td>2011-04-19</td>
                                        <td>2011-04-19</td>
                                    </tr>
                                </tbody>
                            </table>
                        <!-- End Table with stripped rows -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}