{% extends "SIBUDO_app/base.html" %}

{% load static %}
{% load my_tags %}

{% block title %}
    <title>Visualizar Sanciones</title>
{% endblock %}

{% block content %}
    <!-- TEMPLATE HERE -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Visualizar Sanciones</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'Prestamos' %}">Prestamos</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'Gestion_Prestamos' %}">Gestionar Prestamos</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'Gestion_Sanciones' %}">Gestionar Sanciones</a></li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Sanciones</h5>
                            <p>Acá encontrarás todas las sanciones activas.</p>
                            
                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Estudiante</th>
                                        <th scope="col">Prestamo</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Fecha de inicio</th>
                                        <th scope="col">Fecha de finalización</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for sancion in sanciones %}
                                        <tr>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <td>{{list_estud|get:forloop.counter}}</td>
                                            <td>{{sancion.id_prestamo}}</td>
                                            <td>{{list_tipo_p|get:forloop.counter}}</td>
                                            <td>
                                                <div class="badge bg-danger">Activa</div>
                                            </td>
                                            <td>{{sancion.fecha_aplicacion}}</td>
                                            <td>{{sancion.fecha_culminacion}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        <!-- End Table with stripped rows -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}