{% extends "SIBUDO_app/base.html" %}

{% load static %}

{% block title %}
    <title>Ver Sanciones</title>
{% endblock %}

{% block content %}
    <!-- TEMPLATE HERE -->
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Sanciones Aplicadas</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'Sanciones_Estudiante' %}">Sanciones</a></li>
                    <li class="breadcrumb-item">Tabla</li>
                    <li class="breadcrumb-item active">Datos</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
    
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Historial de medidas aplicadas</h5>
                            <p>
                                En la siguiente tabla se podrá observar el historial de todas las sanciones que le han sido aplicadas.
                                <br>
                                Mientras una sanción se encuentre "activa" usted no podrá solicitar ningún recurso a la biblioteca.
                            </p>
    
                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Causa</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Fecha de aplicación</th>
                                        <th scope="col">Fecha de vencimiento</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Suspención</td>
                                        <td>Préstamo: 0102</td>
                                        <td>Activa</td>
                                        <td>2016-05-25</td>
                                        <td>2016-05-25</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Reposición de libro</td>
                                        <td>Préstamo: 0134</td>
                                        <td>Inactiva</td>
                                        <td>2014-12-05</td>
                                        <td>2014-12-05</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Suspención</td>
                                        <td>Préstamo: 0405</td>
                                        <td>Inactiva</td>
                                        <td>2011-08-12</td>
                                        <td>2011-08-12</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Suspención</td>
                                        <td>Préstamo: 0114</td>
                                        <td>Inactiva</td>
                                        <td>2012-06-11</td>
                                        <td>2012-06-11</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>Suspención</td>
                                        <td>Préstamo: 0502</td>
                                        <td>Inactiva</td>
                                        <td>2011-04-19</td>
                                        <td>2011-04-19</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>Suspención</td>
                                        <td>Préstamo: 0502</td>
                                        <td>Inactiva</td>
                                        <td>2011-04-19</td>
                                        <td>2011-04-19</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>Suspención</td>
                                        <td>Préstamo: 0502</td>
                                        <td>Inactiva</td>
                                        <td>2011-04-19</td>
                                        <td>2011-04-19</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>Suspención</td>
                                        <td>Préstamo: 0502</td>
                                        <td>Inactiva</td>
                                        <td>2011-04-19</td>
                                        <td>2011-04-19</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>Suspención</td>
                                        <td>Préstamo: 0502</td>
                                        <td>Inactiva</td>
                                        <td>2011-04-19</td>
                                        <td>2011-04-19</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10</th>
                                        <td>Suspención</td>
                                        <td>Préstamo: 0502</td>
                                        <td>Inactiva</td>
                                        <td>2011-04-19</td>
                                        <td>2011-04-19</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">11</th>
                                        <td>Suspención</td>
                                        <td>Préstamo: 0502</td>
                                        <td>Inactiva</td>
                                        <td>2011-04-19</td>
                                        <td>2011-04-19</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
{% endblock %}