{% extends "SIBUDO_app/base.html" %}

{% load static %}

{% block title %}
    <title>Ver Sanciones</title>
{% endblock %}

{% block content %}
    <!-- TEMPLATE HERE -->
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Sanciones Aplicadas</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'Sanciones_Estudiante' %}">Sanciones</a></li>
                    <li class="breadcrumb-item">Tabla</li>
                    <li class="breadcrumb-item active">Datos</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
    
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Historial de medidas aplicadas</h5>
                            <p>
                                En la siguiente tabla se podrá observar el historial de todas las sanciones que le han sido aplicadas.
                                <br>
                                Mientras una sanción se encuentre "activa" usted no podrá solicitar ningún recurso a la biblioteca.
                            </p>
    
                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Causa</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Fecha de aplicación</th>
                                        <th scope="col">Fecha de vencimiento</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for sancion in list_sanciones %}
                                        {% if forloop.counter0 != 0 %}
                                            <tr>
                                                <th scope="row">{{forloop.counter0}}</th>
                                                <td>Suspención</td>
                                                <td>Préstamo: {{sancion.id}}</td>
                                                <td>
                                                    {% if sancion.estado == 1 %}
                                                        <div class="badge bg-danger">Activa</div>
                                                    {% else %}
                                                        <div class="badge bg-warning">Inactiva</div>
                                                    {% endif %}
                                                </td>
                                                <td>{{sancion.fecha_aplicacion}}</td>
                                                <td>{{sancion.fecha_culminacion}}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
{% endblock %}